/* Phần xử lí đăng nhập */

body {
    background-color: #02b24e;
}

.dang_nhap {
    display: flex;
    box-sizing: border-box;
    padding: 0 20px;
}

.dang_nhap_thoat {
    margin: 5px 5px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgb(255, 0, 0);
    outline: none !important;
    border: none;
    font-size: 20px !important;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.dang_nhap_thoat:hover {
    color: blue;
}

.dang_nhap_content {
    flex: 1;
    align-items: center;
    margin-top: 100px;
}

.dang_nhap1 {
    display: block;
    margin: auto;
    background-color: rgb(87, 197, 240);
    width: 600px;
    min-height: 400px;
    padding: 20px 80px;
    box-sizing: border-box;
    box-shadow: 30px 30px 10px;
    -moz-box-shadow: 30px 30px 10px;
    -webkit-box-shadow: 30px 30px 10px;
    -o-box-shadow: 30px 30px 10px;
    -ms-box-shadow: 30px 30px 10px;
    border-radius: 10px;
}

.dang_nhap1 h1 {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}

.dang_nhap1 h2 {
    display: block;
    text-align: center;
    font-size: 50px;
    color: #00923f;
    margin-top: 0;
    margin-bottom: 70px;
}

.dang_nhap1 p {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.dang_nhap1>button {
    margin: auto;
    display: block;
    font-size: 20px;
    height: 30px;
    color: white;
    background-color: blue;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.dang_nhap1>button:hover {
    color: blue;
    background-color: white;
}

.dang_nhap1>span {
    margin: 20px 0;
    display: block;
    text-align: center;
    font-size: 18px;
}

.dang_nhap1>a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: blue;
}

.dang_nhap1>a:hover {
    color: darkblue;
}

.dang_nhap1_ten {
    display: block;
    outline: none;
    width: 430px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
}

.dang_nhap1_password {
    display: block;
    outline: none;
    width: 430px;
    height: 40px;
    margin: 10px 0;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nosuccses {
    color: red;
    text-align: center;
    margin-bottom: 0px !important;
    font-size: 16px !important;
}

.dang_nhap1_mat_khau {
    display: flex;
    border-radius: 5px !important;
    box-sizing: border-box;
    width: 430px;
}

.dang_nhap1_mat_khau button {
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.fas {
    cursor: pointer;
    font-size: 18px;
    color: black;
}

.dang_nhap1_xemMK {
    border: none;
    height: 40px;
    text-align: center;
    margin: 10px 0;
}