:root {
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.padding {
    padding-right: 0px;
}

.width {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.width__row {
    display: flex;
    flex-wrap: wrap;
}

.width_column_4 {
    width: 23%;
    cursor: pointer;
    display: inline-block;
}

.width_column_42 {
    width: 23%;
    cursor: pointer;
    display: inline-block;
}

.width_column_5 {
    box-sizing: border-box;
    /* width: 19.5%; */
    width: 24.5%;
    margin-right: 5px;
    padding: 10px 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
}

.width_row_6 {
    width: 22%;
    cursor: pointer;
    display: inline-block;
}

.display {
    display: block !important;
}

.noneDisplay {
    display: none !important;
}

.background {
    background-color: white;
}


/* Chuyển động */

@keyframes gift {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes gift1 {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* Reponstive */

@media (max-width: 1024px) {}

@media (min-width: 740px) and (max-width: 1023px) {}

@media (max-width: 739px) {
    .width {
        box-sizing: border-box !important;
        height: 100%!important;
        width: 100%!important;
        min-width: 100%!important;
        min-height: 100%!important;
        margin: 0!important;
    }
    /* Responsive */
    .width_column_5 {
        box-sizing: border-box;
        /* width: 19.5%; */
        width: 48%;
        margin-right: 5px;
        padding: 10px 10px;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 5px;
    }
    .width_column_42 {
        width: 49%;
    }
    .padding {
        padding-right: 40px !important;
    }
    .padding_top {
        padding-top: 0!important;
    }
    /* Header */
    .content h1 {
        text-align: center;
        font-size: 16px;
    }
    .content,
    .sinhTo_content,
    .traTraiCay_content,
    .traHuong_content,
    .traSua_content,
    .khac_content {
        padding-bottom: 30px;
    }
    .header2_sanPham ul li a {
        font-size: 13px;
    }
    .add_sanPham_list h4 {
        font-size: 11px;
    }
    .add_sanPham h1 {
        font-size: 16px;
        padding-top: 20px;
    }
    .add_sanPham {
        margin-bottom: 30px;
    }
    .add_sanPham_list input {
        width: 100%;
        font-size: 13px;
        height: 40px;
        border-radius: 5px;
    }
    .add_sanPham_list select {
        width: 100%;
        font-size: 13px;
        height: 40px;
        border-radius: 5px;
    }
    .add_sanPham_list textarea {
        width: 100%;
        font-size: 13px;
        height: 100px;
        border-radius: 5px;
    }
    .add_sanPham_content2 {
        width: 100%;
    }
    .add_sanPham_content {
        margin: 0 -20px;
        border-radius: 0;
    }
    .add_sanPham_content2 button {
        font-size: 15px;
        width: 100%;
        height: 40px;
    }
    .header2_left {
        z-index: 3;
    }
    .header2_sanPham {
        width: 165px;
        left: -10px;
        transform-origin: calc(100% - 120px) top;
        z-index: 4;
    }
    .header2_sanPham ul li {
        line-height: 30px;
    }
    .header2_right {
        box-sizing: border-box;
        margin: 0 -20px;
        padding: 0 20px;
        padding-bottom: 10px;
        /* background-color: #02b24e; */
        background-color: #000;
        margin-bottom: 20px;
        margin-top: -1px;
        z-index: 3;
    }
    /* Footer */
    .footer3 {
        height: 40px;
        padding: 4px 0;
    }
    .footer3 p {
        font-size: 10px;
    }
    .footer3 span {
        font-size: 12px;
    }
    /* Mail */
    .mail {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .mail h1 {
        font-size: 16px;
        line-height: 25px;
        margin-top: 0;
    }
    .mail_center {
        margin: 0 -20px;
        border-radius: 0;
    }
    .mail_ul {
        padding-left: 0;
    }
    .mail_ul li {
        font-size: 15px;
        border-bottom: 1px solid #02b24e;
    }
    .mail_ul li:last-child {
        border: none;
    }
    .contact_admin {
        margin-bottom: 30px;
    }
    .contact_admin h1 {
        font-size: 16px;
    }
    .contact_admin_ul {
        padding: 0 40px;
    }
    .contact_admin_ul li {
        font-size: 15px;
        border-bottom: 1px solid #02b24e;
    }
    .contact_admin_ul li:last-child {
        border: none;
    }
    .contact_admin_center {
        margin: 0 -20px;
        border-radius: 0;
    }
    .content_amin {
        display: block;
    }
    /* Đăng nhập */
    /* Phần xử lí đăng nhập */
    .dang_nhap {
        padding: 0;
    }
    .dang_nhap_thoat {
        margin: 5px 5px;
        height: 30px;
        width: 30px;
    }
    .dang_nhap_content {
        flex: 1;
        align-items: center;
        margin-top: 60px;
    }
    .dang_nhap1 {
        width: 350px;
        min-height: 400px;
        padding: 10px 10px;
    }
    .dang_nhap1 h1 {
        display: block;
        text-align: center;
    }
    .dang_nhap1 p {
        font-size: 18px;
        margin-bottom: 50px;
    }
    .dang_nhap1>button {
        font-size: 16px;
        margin-top: 10px;
    }
    .dang_nhap1>span {
        margin: 20px 0;
        font-size: 18px;
    }
    .dang_nhap1>a {
        font-size: 16px;
    }
    .dang_nhap1_ten {
        width: 100%;
        height: 40px;
        margin: 0px 0;
        box-sizing: border-box;
    }
    .dang_nhap1_password {
        width: 100%;
        height: 40px;
        margin: 10px 0;
        box-sizing: border-box;
    }
    .dang_nhap1_mat_khau {
        display: flex;
        border-radius: 5px !important;
        box-sizing: border-box;
        width: 100%;
    }
}